/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* ===== Background ===== */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://plus.unsplash.com/premium_photo-1681488394409-5614ef55488c?fm=jpg&q=60&w=3000')
        no-repeat center center/cover;
    backdrop-filter: blur(8px);

}


.mycontainer {
    background: rgba(255, 255, 255, 0.25);
    padding: 35px 50px; 
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    width: 700px;
    height: 500px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/* ===== Heading ===== */
.mycontainer h1 {
    font-size: 2em;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    background-color:#071519;
}

/* ===== Form Layout ===== */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}

/* ===== Each Field ===== */
.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px; 
}

/* ===== Label ===== */
.form-label {
    color: #b25454;
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500;
}

/* ===== Input Fields ===== */
.form-control {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px 12px; 
    background: rgba(255, 255, 255, 0.35);
    font-size: 15px;
    color: #000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    background-color: #8fbcc8;
}

.form-control:focus {
    outline: none;
    border: 2px solid #071519;
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.5);
}

/* ===== Button ===== */
.btn-primary {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    box-shadow: 0 3px 10px rgba(0, 114, 255, 0.4);
    width: 100%;
    margin-top: 8px;
}

.btn-primary:hover {
    transform: translateY(-3px);
    background: linear-gradient(90deg, #0072ff, #00c6ff);
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
    .mycontainer {
        width: 90%;
        height: auto;
        padding: 25px 20px;
    }
}
